<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/categories">
    <i class="fa fa-book text-warning"></i>
    <span class="text-warning">QWA</span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/signup">Rejestracja</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/login">Zaloguj</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/quiz">Dodaj quiz</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/myQuizzes">Twoje quizy</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/admin">Admin</a>
      </li>
    </ul>
  </div>
</nav>
